<div class="panel panel-pithy author">
    <div class="panel-heading avastar">
        <img src="{{ site.baseurl}}/assets/images/avatar.png" alt="scsidisk"/>
    </div>
    <div class="panel-body">
        独上西楼，月如钩，寂寞梧桐秋影瘦。
    </div>
    <div class="panel-footer social">
        <ul>
            <li class="github"><a href="https://github.com/scsidisk" alt="github" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="rss"><a href="{{ '/feed.xml' | prepend: site.baseurl}}" alt="订阅" target="_blank"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</div>
